# fly-prod.toml file generated for wsa-alpha-bot on 2023-01-14T12:56:46+08:00

app = "wsa-alpha-bot"
kill_signal = "SIGINT"
primary_region = "hkg"
kill_timeout = 5
processes = []

[env]
DEPLOYMENT_ENV= "prod"

[experimental]
auto_rollback = true

[[services]]
http_checks = []
tcp_checks = []
internal_port = 8080
processes = ["app"]
protocol = "tcp"
script_checks = []
[services.concurrency]
hard_limit = 25
soft_limit = 20
type = "connections"

[[services.ports]]
force_https = true
handlers = ["http"]
port = 80

[[services.ports]]
handlers = ["tls", "http"]
port = 443

[mounts]
source = "utopia_storage"
destination = "/data"
