<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %highlight(%-5level) %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.mongodb" level="${ORG_MONGO_LOG_LEVEL:-INFO}"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
